body {
    margin: 0px;
    height: 100%;
    overflow: hidden;
}

.app {
    height: 100vh;
}

.dashboard {
    height: 100%;
    text-align: center;
}

.splash {
    background-color: rgba(44, 62, 80,1.0);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    color: white;
    height: 100vh;
}

.logoImage {
    margin: 20px 0px 0px 0px;
    max-width: 150px;
    max-height: 150px;
}

.appName {
    margin-bottom: 0px;
}
.tagline {
    margin-top: 0px;
}

.meetingImage {
    max-width: 25%;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    float: left;
}

.signinButton {
    background-color: white;
    border: none;
    color: rgba(107, 107, 107,1.0);
    padding: 12px 30px;
    margin: 0px 0px 20px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;

}

.signoutLink {
    float: right;
    background-color: white;
    border: none;
    color: rgba(107, 107, 107,1.0);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Catamaran', sans-serif;
    margin: 5px;
    cursor: pointer; 

}

.title {
    display: inline-block;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    margin: 0px 0px 15px 0px;
    letter-spacing: 5px;
}

.sidepanel {
    float: left;
    display: inline-block;
    text-align: left;
    background-color: rgba(44, 62, 80,1.0);
    height: 100%;
    font-family: 'Catamaran', sans-serif;
    color: white;
    margin-right: 10px;
    padding: 10px;
    overflow: scroll;
}

.grouppanel {
    margin-bottom: 100px;
}

/*.groupname {
    margin-bottom: 1px;
}*/

.showbutton {
    float: right;
    background-color: white;
    border-radius: 6px;
    cursor: pointer;
}

.addbutton {
    font-size: 15px;
    float: right;
    background-color: white;
    border-radius: 6px;
    cursor: pointer;
}

.addevent {
    font-family: 'Catamaran', sans-serif;
}

.addevent input {
    background-color: white;
    border: 1px solid black;
    color: rgba(44, 62, 80,1.0);
    padding: 10px 0px 10px 10px;
    margin: 0px 5px 20px 0px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-indent: 0px;
}

/* Gets rid of yellow autofill in input boxes done by Chrome browser */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.createEventButton {
    background-color: rgba(44, 62, 80,1.0);
    border: 1px solid rgba(44, 62, 80,1.0);
    color: white;
    padding: 10px 30px;
    margin: 0px 0px 20px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer; 
}

.ReactModal__Overlay {
    z-index: 1000;
}

.modalTitle {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center
}

.slotButtonDiv {
    width: 100%;
    text-align: center;
}

.slotButton {
    display: inline-block;
    width: 80%;
    margin: 10px auto;
    background-color: rgba(44, 62, 80,1.0);
    border: none;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}