body {
    margin: 0px;
}

.app {
    height: 100vh;
}

.dashboard {
    height: 100%;
}

.splash {
    background-color: rgba(44, 62, 80,1.0);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    color: white;
    height: 100vh;
}

.logoImage {
    margin: 20px 0px 0px 0px;
    max-width: 150px;
    max-height: 150px;
}

.appName {
    margin-bottom: 0px;
}
.tagline {
    margin-top: 0px;
}

.meetingImage {
    max-width: 25%;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    float: left;
}

.signinButton {
    background-color: white; /* Green */
    border: none;
    color: rgba(107, 107, 107,1.0);
    padding: 12px 30px;
    margin: 0px 0px 20px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.title {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    margin: 0px;
    letter-spacing: 5px;
    background-color: rgba(228, 241, 254, 1.0);
}

.sidepanel {
    float: left;
    display: inline-block;
    background-color: rgba(44, 62, 80,1.0);
    height: 100%;
    font-family: 'Catamaran', sans-serif;
    color: white;
    margin-right: 10px;
    padding: 10px;
}

.addevent {
    font-family: 'Catamaran', sans-serif;
}

.ReactModal__Overlay {
    z-index: 1000;
}

.modalTitle {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center
}

.slotButtonDiv {
    width: 100%;
    text-align: center;
}

.slotButton {
    display: inline-block;
    width: 80%;
    margin: 10px auto;
    background-color: rgba(44, 62, 80,1.0);
    border: none;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}